cf:
  butlers:
    #bark: cf-butler.apps.bark-1833524.cf-app.com
    #dhaka: cf-butler-noisy-emu-yb.apps.dhaka.cf-app.com
    kuhn-labs: cf-butler.apps.tas-ndc.kuhn-labs.com
    #local: http://localhost:8080
  sslValidationSkipped: true

management:
  endpoints:
    web:
      exposure:
        include: info,health,metrics,scheduledtasks,loggers,prometheus
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
    prometheus:
      enabled: true

spring:
  cloud:
    config:
      enabled: false

---
spring:
  config:
    activate:
      on-profile: cloud

  cloud:
    config:
      enabled: true
